html{
    background-image: url("field.jpg"); 
    background-repeat: no-repeat;  
    background-position: 0vw 0vh;
    background-size: 100vw 100vh;
}

.racer {
    position: absolute;
    left: 0;
    bottom: 2vh;
    height: 25vh;
     
}

#bo {
    bottom: 10vh;
    height: 25vh;
}

#vs-startbtn {
    position: absolute;
    left: 82%;
    top: 10vh;
    width: 25vh;
}



