
html{
    background-image: url("field.jpg"); 
    background-repeat: no-repeat;  
    background-position: 0vw 0vh;
    background-size: 100vw 100vh;

  
}

.bo{
    padding-top: 70vh;
    height: 200px;
}

.otherBo{
    height: 200px;
}
.blimp{
    padding-bottom: 5vh;
    padding-left: 80vw;
    width: 350px;
}


